{% extends "layout.njk" %}

{% set description = "Administrator - Statistik og oversigt" %}
{% set author = "Administrator-login" %}
{% set index = "noindex" %}

{% block content %}

<?php
error_reporting(E_ALL);
include realpath(__DIR__.'/includes/db.php');

if (isset($_POST['submit'])) {
    //Retrieve the field values from our login form.
    $username = ! empty($_POST['username']) ? trim($_POST['username']) : null;
    $passwordAttempt = ! empty($_POST['password']) ? trim($_POST['password']) : null;

    //Retrieve the user account information for the given username.
    $sql = 'SELECT id, username, password FROM users WHERE username = :username';
    $stmt = $pdo->prepare($sql);
    $stmt->bindValue(':username', $username);
    $stmt->execute();
    $user = $stmt->fetch(PDO::FETCH_ASSOC);

    //If $row is FALSE.
    if (false === $user) {
        //Could not find a user with that username
        echo '<div class="container">', PHP_EOL,
        '<div class="card">', PHP_EOL,
          '<div class="card-body">', PHP_EOL,
            '<div class="alert alert-danger" role="alert">Brugernavn eller adgangskode er ikke korrekt. Prøv igen.</div>', PHP_EOL,
          '</div>', PHP_EOL,
        '</div>', PHP_EOL,
      '</div>', PHP_EOL;
        require 'admin-login.php';
    } else {
        //User account found. Check to see if the given password matches the
        //password hash that we stored in our users table.
        $validPassword = password_verify($passwordAttempt, $user['password']);

        //If $validPassword is TRUE, the login has been successful.
        if ($validPassword) {
            require_once 'admin-content.php';
        } else {
            //$validPassword was FALSE. Passwords do not match.
            die('Incorrect username / password combination!');
        }
    }
} else {
    require 'admin-login.php';
}
?>
{% endblock %}
