# Ignore docs files
_gh_pages
_site
.ruby-version

# Jekyll metadata
docs/.jekyll-metadata

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
._*
.cache
.DS_Store
Thumbs.db
.htaccess

# Files to ignore
robots.txt
sitemap.xml

# Folders to ignore
node_modules
opgaver
includes/cv
includes/mail
includes/insert
includes/PdfToText
includes/db.php
includes/analyticstracking.php
