<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="global-nav" aria-label="Global navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
  <div class="container">
    <a class="navbar-brand mr-auto mr-lg-3" aria-label="Forside" href="/"><svg role="presentation">
        <use xlink:href="dist/img/icons.svg#icon-code"></use>
      </svg> </a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="sr-only">Toggle mobile menu</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse offcanvas-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a aria-label="Forside" class="nav-link" itemprop="url" href="/#about">Start <span class="sr-only">home</span></a>
        </li>
        <li class="nav-item">
          <a aria-label="Nannas CV" class="nav-link" itemprop="url" href="/#cv">CV</a>
        </li>
        <li class="nav-item">
          <a aria-label="Se opgaver" class="nav-link" itemprop="url" href="/#assignments">Opgaver</a>
        </li>
        <li class="nav-item">
          <a aria-label="Kontaktformular" class="nav-link" href="" itemprop="url" data-toggle="modal" data-target="#contactFormModal">Kontakt</a>
        </li>
      </ul>
      <div class="utility-icons">
        <ul class="navbar-nav" itemscope itemtype="https://schema.org/Person">
          <li class="nav-item">
            <a aria-label="Facebook" class="nav-link" href="https://www.facebook.com/nanna.ellegaard" target="_blank" rel="noopener" itemprop="sameAs"><svg role="presentation">
                <use xlink:href="dist/img/icons.svg#icon-facebook"></use>
              </svg></a>
          </li>
          <li class="nav-item">
            <a aria-label="LinkedIn" class="nav-link" href="https://www.linkedin.com/in/nannaellegaard/" target="_blank" rel="noopener" itemprop="sameAs"><svg role="presentation">
                <use xlink:href="dist/img/icons.svg#icon-linkedin"></use>
              </svg></a>
          </li>
          <li class="nav-item">
            <a aria-label="send besked via kontaktformular" class="nav-link" href="" data-toggle="modal" data-target="#contactFormModal" itemprop="url"><svg role="presentation">
                <use xlink:href="dist/img/icons.svg#icon-mail"></use>
              </svg></a>
          </li>
          <li class="nav-item">
            <a aria-label="GitHub" class="nav-link" href="https://github.com/nanna-dk/" target="_blank" rel="noopener" itemprop="sameAs"><svg role="presentation">
                <use xlink:href="dist/img/icons.svg#icon-github"></use>
              </svg></a>
          </li>
          <li class="nav-item">
            <a aria-label="Skriv via Skype" class="nav-link" href="skype:nanna_dk?chat" rel="noopener" itemprop="sameAs"><svg role="presentation">
                <use xlink:href="dist/img/icons.svg#icon-skype"></use>
              </svg></a>
          </li>
          <li class="nav-item">
            <a title="RSS" class="nav-link" href="includes/rss/" rel="noopener" target="_blank" itemprop="url"><svg role="presentation">
                <use xlink:href="dist/img/icons.svg#icon-rss"></use>
              </svg></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
