.bar {
  width: 150px;
  height: 30px;
  background: #ebebeb;
  position: relative;
}

.bar .stars {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.bar .star {
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.bar .star.full {
  background: linear-gradient(to bottom, #fee24f, #f4bb2f)
}

.bar .bg {
  float: left;
  height: 30px;
  width: 30%;
  background: linear-gradient(to bottom, #fee24f, #f4bb2f);
}

.starTotal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../starpng.png) top left no-repeat;
  background-size: cover;
}
