// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
@import "variables";
$body-bg: #f5f2f0;
$body-color: #383838;
$color-primary: #d75959;
$color-secondary: #3f639e;
$link-color: #0056B3;
$link-hover-color: #004a99;
$color3: #fcfcfc;
$color4: #5f5f5f;
$color5: #df696e;
$color6: #ee6e73;
$color8: #7b8c94;
$font-size-h1: 2rem !default;
$font-size-h2: 1.75rem !default;
$font-size-h4: 1.25rem !default;
$badge-color: #e4e4e4; // *******************************************
//   Social icons
// *******************************************
@font-face {
  font-family: "Social";
  src: url("../../font/social.eot?40467418");
  src: url("../../font/social.eot?40467418#iefix") format("embedded-opentype"), url("../../font/social.woff2?40467418") format("woff2"), url("../font/social.woff?40467418") format("woff"), url("../../font/social.ttf?40467418") format("truetype"), url("../../font/social.svg?40467418#Social") format("svg");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100%;
}

body {
  color: $body-color;
  background-color: $color3;
  @include media-breakpoint-up(sm) {
    font-size: 14px;
  }
}
@include media-breakpoint-down(md) {
  .container {
    width: 620px;
    max-width: 100%;
  }
}

a {
  color: $link-color;
  @include hover {
    color: $link-hover-color;
  }
}

section {
  padding: 20px 0 10px;

  h2 {
    font-size: 1.5rem;
    color: $color5;
  }
}

.btn {
  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: $color5;
  color: $white;
  border-color: $color5;

  &:hover {
    background-color: $gray-600;
  }

  &:focus {
    color: $white;
    border: 0;
  }

  &.disabled {
    background-color: $gray-600;
    border: 1px solid $gray-600;

    &:hover {
      cursor: not-allowed;
    }
  }
}
// *******************************************
//  Header Styling
// *******************************************

.affix {
  @extend .fixed-top;
}

.navbar {
  background-color: $color-primary;
  padding: 0;

  .navbar-toggler span,
  .navbar-toggler span:after,
  .navbar-toggler span:before {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 100%;
    background: $white;
    position: absolute;
    display: block;
    content: '';
  }

  .navbar-toggler {
    width: 30px;
    height: 33px;
    outline: none !important;
    padding: 0;
    border: 0;
    cursor: pointer;

    span {
      width: 30px;
      transition: all 400ms ease-in-out;

      &:before {
        top: -10px;
        transition: all 400ms ease-in-out;
      }

      &:after {
        bottom: -10px;
        transition: all 400ms ease-in-out;
      }
    }

    &.open {
      span {
        background-color: transparent;

        &:before {
          top: 0;
          transform: rotate(45deg);
        }

        &:after {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    margin-top: -6px !important;
    font-weight: 700;
    padding: 0;
    font-size: 1.8rem;
  }

  .brand-name {
    font-size: 1.2rem;
    font-weight: normal;
    display: none;
    @include media-breakpoint-down(sm) {
      margin-left: 10px;
      display: block;
    }
  }

  a {
    color: $white;

    &.nav-link {
      font-size: 1rem;
      padding: 20px 0;
      margin-right: 15px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-color: $white;
        width: 100%;
        height: 3px;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
      }

      &:hover {
        color: rgba($white, .75);
      }

      &:hover::before {
        opacity: 1;
        visibility: visible;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.social-nav {
  color: $white;

  a {
    font-size: 1.5rem;
    margin-left: 15px;
    opacity: 0.75;

    &:hover {
      opacity: 1;
      color: $white;
    }

    &::before {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

button {
  &.close {
    &:hover {
      cursor: pointer;
    }
  }
}

.has-danger {
  .form-control-danger {
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right 0.5625rem;
    background-size: 1.125rem 1.125rem;
  }

  .form-control {
    border-color: $red;
  }
}
// *******************************************
// CV
// *******************************************

.cv {
  h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .card {
    .card {
      border: 0;
      @include media-breakpoint-down(xs) {
        .card-block {
          padding: 0;
        }
      }
    }
  }

  .experience {
    overflow: visible;
    position: relative;
    padding-left: 24px;
    margin-left: 7px;
    border-left: 1px solid;
    border-image: linear-gradient(to bottom, rgba($black,0) 5%, rgba(100,100,100,1) 20%, rgba(100,100,100,1) 80%, rgba($black,0) 95%) 22 stretch;

    ul {
      margin-bottom: 23px;
      padding-left: 0;

      li {
        @extend .list-unstyled;

        &.date {
          font-size: 0.9rem;
          margin-bottom: 0;
          position: relative;
          display: block;
          font-weight: 400;
          line-height: 1.2em;
          transition: all 0.25s ease-in-out;
        }

        &.company {
          display: block;
          line-height: 1.2rem;
          text-transform: uppercase;

          a {
            color: $body-color;
            position: relative;
            font-size: 14px;
            font-weight: 600;
            transition: all 0.25s ease-in-out;

            &[target="_blank"] {
              &:after {
                content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==");
                margin: 0 3px 0 5px;
              }
            }

            &::before {
              position: absolute;
              width: 13px;
              height: 13px;
              border-radius: 4px;
              top: 4px;
              left: -31px;
              content: "";
              background: lighten($body-color, 30%);
            }

            &:hover {
              color: lighten($gray-700, 10%);
              text-decoration: none;
            }

            &.no-event {
              color: $body-color;
            }
          }
        }
      }

      &:hover {
        .company {
          a {
            &::before {
              background: $color-primary;
            }
          }
        }
      }
    }
  }

  .tags {
    @extend .list-unstyled;

    li {
      margin-bottom: 5px;
      margin-right: 10px;

      &.badge {
        padding: 0.25em 0.4em 0.4em;
        color: rgba($black, 0.6);
        background-color: $badge-color;
      }
    }
  }

  .tech {
    margin-bottom: 23px;
  }
}

.assignments {
  .card {
    margin-bottom: 1rem;
  }

  .card-header {
    font-size: 1.15rem;
    padding: 0.75rem 0.7rem;
    @include media-breakpoint-up(sm) {
      font-size: 1rem;
    }

    &:first-child {
      border-radius: calc(.15rem - 1px) calc(.15rem - 1px) 0 0;
    }

    a {
      position: relative;

      &::before {
        position: absolute;
        display: block;
        line-height: 17px;
        right: 0;
        font-size: 30px;
        transform: rotate(180deg);
        transition: transform 0.3s linear;
      }

      &:not(.collapsed) {
        &::before {
          transform: rotate(0deg);
        }
      }
    }
  }

  .card-footer {
    &:last-child {
      border-radius: 0 0 calc(.15rem - 1px) calc(.15rem - 1px);
    }

    .footer-left {
      @include float-left;
    }

    .footer-right {
      @include float-right;
    }
    @extend .clearfix;
    @extend .text-muted;
  }

  .totalResults {
    @extend .h6;
  }

  .btn-groups {
    flex-direction: row;

    .btn {
      &:first-child {
        margin-left: -2px;
      }
    }
  }
}

.form-control::placeholder {
  color: #bbb;
  @include media-breakpoint-down(sm) {
    font-size: 0.85rem;
  }
}

.count {
  color: $gray-600;
}

// #load {
//   text-align: center;
//   margin-bottom: 15px;
// }

.stats {
  .card-header {
    border-bottom: 0;

    a {
      color: $body-color;
      display: block;
    }
  }

  .card-text {
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }
}
// .pagination {
//   margin-bottom: 0.5rem;
//
//   .page-item {
//     &.disabled {
//       &:hover {
//         cursor: not-allowed;
//       }
//     }
//
//     &.active {
//       .page-link {
//         background-color: $gray-600;
//         border-color: $gray-600;
//       }
//     }
//   }
// }
// .paging-stats {
//   margin-bottom: 0.6rem;
//   @extend .w-100;
//   @extend .text-right;
//   @include clearfix;
// }
// *******************************************
//  Footer Styling
// *******************************************

.site-footer {
  background-color: $color4;
  padding: 50px 0 0;

  h2,
  p {
    color: $white;
  }

  .social-nav {
    a {
      color: $white;
      opacity: 0.25;

      &:hover {
        opacity: 1;
      }
    }
  }

  .bottom {
    background-color: $color5;
    padding: 20px 0;

    .list-inline,
    p {
      margin: 0;
    }

    .list-inline {
      position: relative;
      top: 5px;
      font-size: 1rem;

      a {
        color: $white;
        margin-right: 15px;
      }
    }
  }
}

.modal-footer {
  display: block; // override flex
}

.scrolltop {
  position: fixed;
  bottom: 4%;
  right: 3%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: $color-primary;
  color: $white;
  text-align: center;
  font-size: 1.5rem;
  z-index: $zindex-fixed;

  &:active,
  &:focus,
  &:hover {
    color: $white !important;
    opacity: 0.75;
  }
}
// *******************************************
//   Icons
// *******************************************

[class*="icon-"]::before,
[class^="icon-"]::before {
  font-family: "Social";
  speak: none;
  text-transform: none;
  font-style: normal;
  line-height: inherit;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook::before {
  content: "\f09a";
}

.icon-github::before {
  content: "\f09b";
}

.icon-gplus::before {
  content: "\f0d5";
}

.icon-mail::before {
  content: "\f0e0";
}

.icon-linkedin::before {
  content: "\f0e1";
}

.icon-angle-up::before {
  content: "\f106";
}

.icon-code::before {
  content: "\f121";
}

.icon-skype::before {
  content: "\f17e";
}
// *******************************************
//  Responsive Styling
// *******************************************
@include media-breakpoint-down(md) {
  .navbar {
    .navbar-brand {
      margin: 0;
    }

    #navbar-collapse {
      padding-top: 10px;
      float: left;
      width: 100%;
    }

    .nav-item {
      width: 100%;
      margin: 0 !important;

      a {
        display: block;
        padding: 10px 0;
      }
    }
  }
}

.navbar-side {
  @extend .list-unstyled;
  height: 100%;
  width: 75%;
  @include media-breakpoint-up(sm) {
    width: 50%;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
  position: fixed;
  top: 37px; // Same as nav height
  right: 0;
  padding: 0;
  box-shadow: inset 10px 0 20px 0 rgba(0,0,0, .1);
  background-color: #f3f3f3;
  overflow-y: auto;
  z-index: 1000;
  transform: translateX(100%);
  transition: 300ms ease;

  li {
    padding-left: 2rem;

    a {
      color: $body-color;
      tap-highlight-color: rgba(255,255,255,.5);
      border-bottom: 1px solid #ddd;

      &:active,
      &:focus,
      &:hover {
        color: rgba($body-color, 1)!important;

        &::before {
          border-left: 5px solid $color-primary;
          background-color: transparent;
          height: 68%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -15px;
        }
      }
    }

    & + li {
      a {
        border-top: 1px solid $white;
      }
    }

    &:last-child {
      &:after {
        content: '';
        background-color: $white;
        height: 1px;
        width: calc(100% - 15px);
        display: block;
      }
    }
  }
}

.reveal {
  transform: translateX(0);
  transition: all 300ms ease;
}

.overlay {
  display: none;
  @extend .modal-backdrop;
  bottom: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s linear;
  z-index: 990;
}
@include media-breakpoint-up(md) {
  .overlay {
    display: none!important;
  }
}
